<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Villavicencio</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:/spring.cfg.xml
        </param-value>
    </context-param>
    <context-param>
        <param-name>maxFileSize</param-name>
        <param-value>1048576</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <filter>
        <filter-name>sessionFilter</filter-name>
        <filter-class>mx.com.villavicencio.filter.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <url-pattern>/controller/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ProductoController</servlet-name>
        <servlet-class>mx.com.villavicencio.system.productos.productos.controller.ProductoController</servlet-class>
        <init-param>
            <param-name>PATH</param-name>
            <param-value>C:\\apache-tomcat-8.0.18\\webapps\\Villavicencio\\images</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>mx.com.villavicencio.system.login.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendedorController</servlet-name>
        <servlet-class>mx.com.villavicencio.system.vendedor.controller.VendedorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteController</servlet-name>
        <servlet-class>mx.com.villavicencio.system.cliente.controller.ClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuariosController</servlet-name>
        <servlet-class>mx.com.villavicencio.system.usuario.controller.UsuariosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidosController</servlet-name>
        <servlet-class>mx.com.villavicencio.system.pedido.pedido.controller.PedidosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbonosController</servlet-name>
        <servlet-class>mx.com.villavicencio.system.movimientos.abonos.controller.AbonosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiquidacionController</servlet-name>
        <servlet-class>mx.com.villavicencio.system.liquidacion.liquidacion.controller.LiquidacionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreditoController</servlet-name>
        <servlet-class>mx.com.villavicencio.system.credito.credito.controller.CreditoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductoController</servlet-name>
        <url-pattern>/controller/productoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendedorController</servlet-name>
        <url-pattern>/controller/vendedorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteController</servlet-name>
        <url-pattern>/controller/clienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosController</servlet-name>
        <url-pattern>/controller/usuariosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidosController</servlet-name>
        <url-pattern>/controller/pedidosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbonosController</servlet-name>
        <url-pattern>/controller/abonosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiquidacionController</servlet-name>
        <url-pattern>/controller/liquidacionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreditoController</servlet-name>
        <url-pattern>/controller/creditoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
